<div class="section">
    <div class="container-fluid bg-whitebox main-container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4 imgtrainer">
                <img src="https://d3rj1gznkm47xj.cloudfront.net/6c91737b-715e-4c59-aad0-b947bb097907.png" class="img-responsive" role="img" alt="trainer foto">
                <p class="exter">External</p>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6 col-lg-8">
                <h3>Heading</h3>
                <span class="star-rating">
                  <input type="radio" name="rating-training" value="1"><i></i>
                  <input type="radio" name="rating-training" value="2"><i></i>
                  <input type="radio" name="rating-training" value="3"><i></i>
                  <input type="radio" name="rating-training" value="4"><i></i>
                  <input type="radio" name="rating-training" value="5"><i></i>
                </span>
                <br>
                <p><b>Position:</b></p>
                <p><b>Departament:</b></p>
                <p><b>Location:</b></p>
                <p><b>Experience:</b></p>
                <p>Text</p>
            </div>
        </div>
    </div>
</div>
