<div class="panel panel-default main-container panelpadding">
    <div class="panel-body panelpadding">
        <div class="section">
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-3 mainImge">
                <img src="https://d3rj1gznkm47xj.cloudfront.net/6c91737b-715e-4c59-aad0-b947bb097907.png" class="img-responsive" role="img" alt="training logo">
            </div>
            <div class="col-xs-12 col-sm-7 col-md-6 col-lg-9">
                <h3>Heading</h3>
                <!---------------Stars------------->
                            <span class="star-rating">
                              <input type="radio" name="rating-training" value="1"><i></i>
                              <input type="radio" name="rating-training" value="2"><i></i>
                              <input type="radio" name="rating-training" value="3"><i></i>
                              <input type="radio" name="rating-training" value="4"><i></i>
                              <input type="radio" name="rating-training" value="5"><i></i>
                            </span>
                <br>
                <p>Text</p>
                <div class="training-div"><hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="glyphicon glyphicon-time"></span><span class="myIconSm"> 6h</span>
                            <span class="glyphicon glyphicon-user"></span><span class="myIconSm"> 12</span>
                            <span class="glyphicon glyphicon-home"></span><span class="myIconSm"> Lviv1, 628</span>
                            <span class="myIconSm"><b>Target Audience:</b>BA candidate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

